img {
  max-width: 100%;
  height: auto;
}

h3 {
  width: 280px;
  max-width: 100%;
  opacity: 0.70;
  color: #1D3154
}

.btn{
  opacity: 0.75;
}

.navbar-brand {
  width: 155px;
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
}

#register_button{
  padding-left: 160px;
}
#register_button .btn{
  opacity: 0.95;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}


